.friends-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
    height: 50%;
    background: rgb(92, 92, 242);
    margin: 5rem;
}