.friends-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
    border-radius: .5rem;
    background-color: rgb(145, 145, 255);
    box-shadow: rgba(0, 0, 0, 0.24) 0rem .25rem .5rem;
    height: 40rem;
  }
  
  .friend-card {
    opacity: 0;
    transform: translateX(-50%);
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
  }
  
  .friend-card.fade-slide-in {
    opacity: 1;
    transform: translateX(0);
  }
  