.event-card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 5rem;
    margin: 0.21rem;
    background-color: rgb(26, 26, 26);
    border-radius: .5rem;

}