.my-event-widget {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 80%;
    width: 50rem;
    margin: 1.25rem;
    background-color: rgba(26,26,26,0.3);
    backdrop-filter: blur(30px);
    border-radius: .5rem;
}

.event-wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    overflow: auto;
    height: auto;
    margin: 2rem;
    width: 85%;
    background-color: rgb(40, 40, 40);
}

p {
    color:white; 
}
h2 {
    color:white;
}

.bttn-box {
    display: flex;
    gap: 2rem;
}

.bttn-box a {
    text-decoration: none;
    color: black;
}
