nav {
    height: 6rem;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: white;
    position: fixed;
}

.nav-link-wrapper {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    background-color: rgb(26, 26, 26);
    height: 100%;
}

.logo {
    height: 5em;
    width: 6rem;
    margin-left: 1rem;
    padding: 0;
    margin-top: .5rem;
    background-color:white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: .5rem;
}

.nav-link {
    text-align: center;
    width: 6rem;
    height: fit-content;
    padding: 1rem;
    border-radius: .4rem;
    margin: 1rem;
    border: 5%;
    background-color: white;

}

.nav-link:hover {
    background-color: #874cd4;
}