.create-event-wrapper {
    padding-top: 6rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

@keyframes slideInFadeIn {
    from {
      transform: translateX(100%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }

.artist-card {
    animation: slideInFadeIn 0.8s ease-out forwards;
    opacity: 0;
}

.show-artist-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  h2 {
    text-align: center;
  }
}
@media screen and (min-width: 1200px) {
  .show-artist-container {
    flex-direction: row;
    align-items: flex-start;
    h2 {
      text-align: center;
    }
  }
}